.homeContent{
  display: flex;
  flex-direction: column;
}

.boxContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 20px;
  /* border: 2px solid #f1f1f1; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  
}

.categoryImage{
  border-radius: 50%; 
  width: 100%; 
  max-width: 150px; 
  height:100%; 
  max-height:150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.categoryName{
  font-weight: bold;
  color: black;
  text-align: center;
  font-style: oblique;
}

.productContainer{
  justify-content: space-between;
  margin-left: 20px;
}